body{
	height:100%;
	font-family: 'OpenSans';
	background-color:aliceblue; 
	color : black;
	margin-left : 10%; 
	margin-right : 10%;
	border-width: 1px;
}
span{
color:magenta; font-weight:bold;
}

#header{
	width:1280px;
	height:25%;
}
.logo{
	width:240px;
	height:100px;
	float:left;
	font-weight:10;
	text-align:center;
	color:#5D5D5D;
}
.logo>a>img{
	width:180px;
	height:60px;
}
#nav {
	display: inline-block;
	list-style: none;
	line-height: 100px;
	margin: 0;
	padding: 0;
}
#nav ul {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}
#nav li {
	float: left;
	width: 160px;
	text-align: center;
}
#nav li a {
	color: #818181;
	font-size: 15px;
	line-height: 30px;
	text-decoration: none;
}
#nav li a:hover {
	color: white;
	font-weight: bold;
	background: pink;
}
#nav li.active a {
	color: #f99600;
}

#contents{
	height:65%;
	min-height:600px;
	margin: 0 auto;
	padding: 54px 40px;
	border: 1px solid; 
}
h1 {
	color: #0100FF;
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;																																																					
	text-indent: 2em;
	margin-bottom: 30px;
}
h2 {
	color: #2c2c2c;
	text-indent: 3em;
	text-align: left;
	font-size: 18px;
	font-weight: normal;
	line-height: 18px;
	margin: 0 0 12px;
}
p {
	text-indent: 2em;
	text-align: center;
	color: #585858;
	font-size: 20px;
	line-height: 24px;
	margin: 0 0 30px;
}
.main>img{
	float:left;
	width:640px; 
	height:405px;
	-moz-border-radius: 50px;
	-khtml-border-radius: 50px;
	-webkit-border-radius: 50px;
}
#gall td{
	text-align:center;
	color: #818181;
	font-size: 20px;
	line-height: 30px;
	text-decoration: none;
}
.img-gall{
	width: 320px;
	height: 240px;
}
#footer{
	height:10%;
	background-color: #8EC7D0;
	border-top: 1px solid #d8d8d8;
	padding: 30px 0;
}
#footer p {
	font-size: 16px;
	line-height: 30px;
	padding-left: 10px;
}
